@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/TT Norms Pro Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/TT Norms Pro Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/TT Norms Pro Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #43464a;
  --color2: #a3c1de;
  --color3: #bdd6e9;
  --color4: #d6eaf4;
  --color5: #efffff;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* background-color: var(--color1); */
  color: var(--color5);
  font-family: 'MyFont', sans-serif;
  min-height: 100vh;
}

/* Fuente para que Font Awesome use su fuente específica */
.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
}
